{% extends 'base.html' %} {% block content %}

<!-- banner bg main start -->
<div class="banner_bg_main">
  <!-- header top section start -->
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <ul>
              <li><a href="/">Home Page</a></li>
              <li><a href="/">Resend OTP</a></li>
              <li><a href="{%url 'login_view' %}">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header top section start -->
  <!-- logo section start -->
  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <a href="index.html"><img src="images/logo.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<section id="reset-form">
  <form method="post">
    {% csrf_token %}
    <h2 class="text-center">Reset Password</h2>
    {% for field in form %}
      {% if field.name == 'email' %}
        <input type="text" name="{{ field.name }}" placeholder="Enter your email" {% if field.errors %}class="error"{% endif %}>
        {% if field.errors %}
         <small class="error-message" id="error-message">{{ field.errors|striptags }}</small>
        {% endif %}
      {% else %}
        {{ field }}
      {% endif %}
    {% endfor %}
   <div class="msg-not" > {% if email_not_available %}
      <small class="error-message" id="email-not-found">Email not found. Please try again.</small>
    {% endif %}</div>
     <div class="form-buttons">
      <input type="submit" value="Send" />
    </div>
  </form>
</section>
  <script>
  // Hide error message after 5 seconds (5000 milliseconds)
  setTimeout(function() {
    var errorMessage = document.getElementById('error-message');
    if (errorMessage) {
      errorMessage.style.display = 'none';
    }
  }, 5000);

// Hide email not found message after page reload with a delay
window.onload = function() {
  setTimeout(function() {
    var emailNotFoundMessage = document.getElementById('email-not-found');
    if (emailNotFoundMessage) {
      emailNotFoundMessage.style.display = 'none';
    }
  }, 3000); // Adjust the delay time (in milliseconds) as needed
};

</script>
</div>
<!-- banner bg main end -->
{% endblock %}
