{% extends 'base.html' %} {% block content %}

<!-- banner bg main start -->
<div class="banner_bg_main">
  <!-- header top section start -->
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <ul>
              <li><a href="/">Home Page</a></li>
              <li><a href="#">Requst OTP</a></li>
              <li><a href="{%url 'password-reset'%}">Forget Password</a></li>
              <li><a href="{%url 'register'%}">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header top section start -->
  <!-- logo section start -->
  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <a href="index.html"><img src="images/logo.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="login-form">
    <form action="login_view" method="post">
      <div class="div-center">
        <h1>LOGIN</h1>
      </div>
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Login</button>

      {% if messages %}
      <div class="message">
        {% for message in messages %} {{ message }}
        <br />
        {% endfor %}
      </div>
      {% endif %}
    </form>
    <script>
      window.addEventListener("load", function () {
        var message = document.querySelector(".message");
        if (message) {
          // Hide the error message after 5 seconds (5000 milliseconds)
          setTimeout(function () {
            message.style.display = "none";
          }, 5000);
        }
      });
    </script>
  </section>

  <!-- banner section end -->
</div>
<!-- banner bg main end -->
{% endblock %}
