{% extends 'base.html' %} {% block content %}

<!-- banner bg main start -->
<div class="banner_bg_main">
  <!-- header top section start -->
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <ul>
              <li><a href="/">Home Page</a></li>
              <li><a href="/">Resend OTP</a></li>
              <li><a href="{% url 'login_view' %}">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header top section start -->
  <!-- logo section start -->
  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <a href="index.html"><img src="images/logo.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="my-form">
    <div class="div-center">
      <p>
        Your password has been changed successfully. Please
        <a href="{% url 'login_view' %}">Login</a>
      </p>
    </div>
  </section>

  <!-- banner section end -->
</div>
<!-- banner bg main end -->
{% endblock %}
