{% extends 'base.html' %} {% block content %}

<!-- banner bg main start -->
<div class="banner_bg_main">
  <!-- header top section start -->
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <ul>
              <li><a href="/">Home Page</a></li>
              <li><a href="/">Resend OTP</a></li>
              <li><a href="login_view">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header top section start -->
  <!-- logo section start -->
  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <a href="index.html"><img src="images/logo.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="reset-password">
    <form method="post">
      <div class="div-center">
        <h1>Reset Your Password</h1>
      </div>
      {% csrf_token %} {% for field in form %}
      <input
        type="{{ field.field.widget.input_type }}"
        name="{{ field.name }}"
        id="{{ field.name }}-input"
        placeholder="{{ field.label }}"
        {%
        if
        field.errors
        %}class="error"
        {%
        endif
        %}
      />
      <!-- banner section end -->
      {% if field.errors %}
      <div class="error-msg">
        <small class="error-message">{{ field.errors|striptags }}</small>
      </div>

      {% endif %} {% endfor %}

      <div>
        <button type="submit">Reset Password</button>
      </div>
    </form>
  </section>

  <script>
    // Hide error messages after 5 seconds (5000 milliseconds)
    setTimeout(function () {
      var errorMessages = document.querySelectorAll(".error-message");
      errorMessages.forEach(function (errorMessage) {
        errorMessage.style.display = "none";
      });
    }, 5000);

    // Hide error messages after page reload with a delay
    window.onload = function () {
      setTimeout(function () {
        var errorMessages = document.querySelectorAll(".error-message");
        errorMessages.forEach(function (errorMessage) {
          errorMessage.style.display = "none";
        });
      }, 5000); // Adjust the delay time (in milliseconds) as needed
    };
  </script>

  <!-- banner section end -->
</div>
<!-- banner bg main end -->
{% endblock %}
