{% extends 'base.html' %} {% block content %}

<!-- banner bg main start -->
<div class="banner_bg_main">
  <!-- header top section start -->
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <ul>
              <li><a href="/">Home Page</a></li>
              <li><a href="/">Resend OTP</a></li>
              <li><a href="login_view">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header top section start -->
  <!-- logo section start -->
  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <a href="index.html"><img src="images/logo.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="my-form">
    <div class="center-div">
      <h2>Reset Password</h2>
      <p>
        Please check your inbox and follow the instruction to reset your
        password.
      </p>
    </div>
  </section>

  <!-- banner section end -->
</div>
<!-- banner bg main end -->
{% endblock %}
